@charset "UTF-8";
* { box-sizing: border-box; }

#WRAPPER  div a:link, #WRAPPER  div a:visited, #WRAPPER  div a:hover {
 display:inline-block;
}/*解決文字斷行問題*/

#CONTENT-1  div a:link, #CONTENT-1  div a:visited, #CONTENT-1  div a:hover {
 display:inline-block;
}/*解決文字斷行問題*/

#CONTENT-4  div a:link, #CONTENT-4  div a:visited, #CONTENT-4  div a:hover {
 display:inline-block;
}/*解決文字斷行問題*/

/*20190820;0826*/
body{
	color: #FFF;
}

.title{
	font-size: 34px;
	font-family: Microsoft YaHei;
	font-weight: 700;
	color: #3355d1;
	background: #ffe500;
	width: auto;
	border-radius: 6px;
	padding: 4px 20px;
}

.main, .time, .rule, .prize_all, .scoremethod, .standard, .description, .organizer, .member{
	text-align: center;
}

.main{
	padding-top: 20px;
}

.main img{
    min-width: 320px;
    width: 100%;
	margin: 0 auto;
	display: block;
}

.rule, .prize_all, .scoremethod, .description, .organizer{
	padding: 50px 0;
}

.alltext_padding, .scoremethod_text, .description_text{
	padding-top: 20px;
}

/* ul{
	list-style: url(../images/point.png);
} */

@media screen and (max-width: 767px){
	.title{
		font-size: 26px;
	}

	.rule, .prize_all, .scoremethod, .description, .organizer{
		padding: 20px 0;
	}
}

@media screen and (max-width: 320px){
	.title{
		font-size: 24px;
	}
}

/*第一內容區*/


.main, .btn_text_all{
	width: 100%;
	margin: auto;
}

.btn_text_all{
	background: #3355d1;
    min-width: 320px;
}

.time_two, .time_three{
	font-size: 24px;
	font-weight: 700;
	max-width:450px;
	width: 100%;
	margin: auto;
	text-align: start;
}

.time{
	padding:60px 0 20px 0;
}

.a_color_w{
	background: #FFF;
}

.main_2{
	display: none;
}

@media screen and (max-width: 767px){
	.time{
		padding:40px 0 20px 0;
	}

	.time_two, .time_three{
		font-size: 18px;
		width: 81%;
	}
}

@media screen and (max-width: 375px){
	.time_two, .time_three{
		width: 89%;
	}
}

@media screen and (max-width: 360px){
	.time_two, .time_three{
		width: 93%;
	}
}

@media screen and (max-width: 320px){
	.time_two, .time_three{
		font-size: 16px;
	}
}
/*第一內容區*/

/*第二內容區*/
.a_padding{
	padding:20px 0;
}

.rule{
	position: relative;
}

.rule_bkg{
	position: absolute;
	top:60px;
	left: 0;
	z-index: -1;
}

.rule_img{
    display: flex;
    justify-content:center;
    margin: 0 auto;
	width: 100%;
}

.rule_a_all{
	position: relative;
}

.rule_a_left{
	position: absolute;
	top: 0;
	left: 0;
	width: 310px;
	height: 323px;
}

.rule_a_right{
	position: absolute;
	top: 0;
	right: 0;
	width: 424px;
	height: 323px;
}

@media screen and (max-width: 767px){
	.rule_img img{
		width: 80%;
	}

	.rule_a_left{
		left: 40px;
		width: 140px;
		height: 146px;
	}
	
	.rule_a_right{
		right: 40px;
		width: 194px;
		height: 146px;
	}
}

@media screen and (max-width: 375px){
	.rule_img img{
		width: 90%;
	}

	.rule_a_left{
		left: 18px;
		width: 142px;
		height: 150px;
	}

	.rule_a_right{
		right: 18px;
		width: 198px;
		height: 150px;
	}
}

@media screen and (max-width: 360px){
	.rule_a_left{
		width: 138px;
		height: 143px;
	}

	.rule_a_right{
		width: 186px;
		height: 143px;
	}
}

@media screen and (max-width: 320px){
	.rule_a_left{
		left: 16px;
		width: 122px;
		height: 127px;
	}

	.rule_a_right{
		right: 16px;
		width: 166px;
		height: 127px;
	}
}
/*第二內容區*/

/*第三內容區*/
.prize, .remarks{
	max-width: 820px;
    font-weight: 700;
    margin: auto;
	text-align: start;
	width: 88%;
}

.prize{
	font-size: 20px;
	padding-bottom: 6px;
}

.prize img{
	width: 28px;
	vertical-align : middle;
}

.remarks{
	font-size: 18px;
	padding:20px 0 0 10px;
	position: relative;
	z-index: 98;
}

.big_nb{
	font-size: 30px;
}

@media screen and (max-width: 767px){
	.prize{
		font-size: 16px;
	}
	
	.prize img{
		width: 20px;
	}

	.prize, .remarks{
		width: 80%;
	}

	.remarks{
		font-size: 13px;
	}

	.big_nb{
		font-size: 20px;
	}
}
/*第三內容區*/

/*第四內容區*/
.scoremethod{
	position: relative;
}

.scoremethod_bkg_p{
	position: absolute;
	top:-50px;
	right: 50px;
	z-index: 1;
}

.scoremethod_bkg_l{
	position: absolute;
	top:300px;
	left: 0;
	z-index: 1;
}

.scoremethod_bkg_c{
	position: absolute;
	top:300px;
	right: 150px;
	z-index: 2;
}

.scoremethod_bkg_r{
	position: absolute;
	top:350px;
	right: 0;
	z-index: 1;
}

.scoremethod_text{
	max-width: 816px;
	width: 86%;
    font-weight: 700;
    margin: auto;
	text-align: start;
	position: relative;
	z-index: 98;
}

.scoremethod_text li{
	font-size: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width:1200px){
	.scoremethod_bkg_p{
		right: 6px;
	}
}

@media screen and (max-width: 767px){
	.scoremethod_text{
		width: 77%;
	}

	.scoremethod_text ul{
		padding-left: 10px;
	}

	.scoremethod_text li{
		font-size: 18px;
	}
}

/*第四內容區*/

/*第五內容區*/
.standard{
	padding:50px 0; 
	position: relative;
	z-index: 98;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

.standard img{
	width: 400px;
}

.standard>div{
	flex: none;
}

.standard_text_all{
    font-weight: 700;
	text-align: start;
	font-size: 20px;
	padding: 110px 0 0 20px;
	/* font-size: 15px;
    padding: 30px 0 0 0px; */
}

.standard_text_all>div{
	display: flex;
	padding-bottom: 10px;
}

.standard_text_all>div>div{
	flex: none;
}

.standard_text{
	padding-left: 6px;
}

.blue{
	background: #80B8DF;
	width: 27px;
	height: 27px;
}

.green{
	background: #A4E522;
	width: 27px;
	height: 27px;
}

.orange{
	background: #FF8C29;
	width: 27px;
	height: 27px;
}

.yellow{
	background: #FFD063;
	width: 27px;
	height: 27px;
}

.pink{
	background: #FE7383;
	width: 27px;
	height: 27px;
}

@media screen and (min-width: 1025px){
	.standard{
		padding:250px 0 50px 0;
	}
}

@media screen and (max-width: 1024px){
	.rule_bkg, .scoremethod_bkg_l, .scoremethod_bkg_c, .scoremethod_bkg_r, .scoremethod_bkg_p{
		display: none;
	}

	.main_2{
		display: block;
	}

	.main_1{
		display: none;
	}
}

@media screen and (max-width: 768px){
	.standard_text_all{
		padding: 30px 0 0 0px;
	}
}

@media screen and (max-width: 414px){
	.standard_text_all{
		font-size: 16px;
	}

	.blue, .green, .orange, .yellow, .pink{
		width: 20px;
		height: 20px;
	}
}

@media screen and (max-width: 375px){
	.standard_text_all{
		font-size: 15px;
	}

	.blue, .green, .orange, .yellow, .pink{
		width: 16px;
		height: 16px;
	}
}

/*第五內容區*/

/*第六內容區*/
.description_text{
	max-width: 816px;
	width: 85%;
    font-weight: 700;
    margin: auto;
    text-align: start;
}

.description_text li{
	font-size: 20px;
    padding-bottom: 20px;
}

.standard img{
	width: 400px;
}

@media screen and (max-width:767px) {
	.description_text ul{
		padding-left: 20px;
	}

	.description_text li{
		font-size: 19px;
	}

	.standard img{
		width: 340px;
	}
}

@media screen and (max-width:320px) {
	.standard_text_all{
		font-size: 14px;
	}

	.blue, .green, .orange, .yellow, .pink{
		display: none;
	}

	.standard img{
		width: 300px;
	}
}
/*第六內容區*/

/*第七內容區*/
.bonny{
    font-weight: 700;
    width: 99%;
}

.bonny_one{
	font-size: 34px;
}

.bonny_two{
	font-size: 20px;
	padding-top: 80px;
}

.bonny_three{
	font-size: 20px;
	display: flex;
	justify-content: center;
}

.bonny>div{
	padding-bottom: 6px;
}

.bonny img{
	vertical-align : middle;
}

.bonny a{
	text-decoration:none;
	color: #FFF;
}

@media screen and (max-width: 767px) { 
	.bonny{
		width: 93%;
		margin: auto;
		font-size: 18px;
	}

	.bonny span{
		display: none;
	}

	.bonny_three{
		display: block;
	}
}
/*第七內容區*/

.member{
	padding:50px 0 170px 0;
}

@media screen and (max-width:767px){
	.member{
		padding: 50px 0 120px 0;
	}

	.member img{
		width: 250px;
	}
}

/*20190820*/

.content-text {
	margin: 0 auto;
	width: 800px;
	color: #FFF;
	font-size: 1em;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 110px;
}

.content-text li{
	line-height: 30px;
}

.content-text .m{
	display: block;
	list-style:disc;
	margin: 0 auto;
	width: 100%;
	font-size: 14px;
	border: 1px solid #FFF;
	padding: 10px;
}

.content-text .s{
	list-style:disc;
	display: block;
	margin: 0 auto;
	width: 100%;
	font-size: 15px;
	padding-left: 20px;
}

.content-text .ss{
	display: block;
	margin: 0 auto;
	width: 100%;
	font-size: 15px;
	padding-left: 35px;
}

.wrap { display: block; text-align: center; margin: 0 auto; max-width: 768px; width: 100%; padding-bottom: 150px;}
.wrap:after { content: ""; display: table; clear: both; }
.wrap .box { float: left; }
.wrap .box:link, .wrap .box:visited { border: none; text-decoration: none; display: block; }
.wrap .box img { width: 100%; vertical-align: top; }
.wrap .box img.d { display: block; }
.wrap .box img.m { display: none; }


.wrap2 { display: block; text-align: center; margin: 0 auto; max-width: 768px; width: 100%; }
.wrap2:after { content: ""; display: table; clear: both; }
.wrap2 .box { float: left; }
.wrap2 .box:link, .wrap .box:visited { border: none; text-decoration: none; display: block; }
.wrap2 .box img { width: 100%; vertical-align: top; }
.wrap2 .box img.d { display: block; }
.wrap2 .box img.m { display: none; }

#key-banner1 { text-align: center; background: url(img/slice_06-bg.jpg) center top no-repeat; background-size: cover; background-color: #000; max-height: 580px; }
#key-banner1 img { max-width: 1200px; min-width: 320px; width: 100%; margin: 0 auto; }

@media screen and (max-width: 816px) { 
  .wrap { max-width: inherit; width: auto; }
  .wrap .box { float: none; }
  .wrap .box.b4, .wrap .box.b5, .wrap .box.b6 { float: left !important; width: calc(100%/3); }
  .wrap .box img.d { display: none; }
  .wrap .box img.m { display: block; }
	
  .wrap2 { max-width: inherit; width: auto; }
  .wrap2 .box { float: none; }
  .wrap2 .box.f3 { float: left !important; width: 200%; }
  .wrap2 .box img.d { display: none; }
  .wrap2 .box img.m { float: left; display: block; width: 50%; }
}


@media screen and (max-width: 415px) { 
  .key-banner img.d { display: none; }
  .key-banner img.m { display: block; } 
  .key-banner2 img.d { display: none; }
  .key-banner2 img.m { display: block; } 
  .key-banner3 img.d { display: none; }
  .key-banner3 img.m { display: block; } 
  .content-text {	
	width: 100%;
	padding-top: 7px;
	padding-left: 50px;
	padding-right: 45px;
	font-size: 18px;
	line-height: 2em;
	-webkit-text-size-adjust:none; }	

.wrap { padding-bottom: 70px;}
.wrap2 .box img.m { float: left; display: block; width: 100%; }
}
