body,span,h2,h3{ font-family: 'Noto Sans TC', sans-serif, Microsoft YaHei, Arial,sans-serif ; color: #000;}
a{ text-decoration: none}
section{ width: 100%; display: block; position: relative}
.center{ text-align: center}
.wrapbig{ width: 1400px; margin: 0 auto; background: #fff;}
.wrap{ width: 1200px; margin: 0 auto; position: relative}
.abs{ position: absolute}
.fll{ float: left;}
.flr{ float: right;}
.col-left{ float: left;}
.col-right{ float: right;}
.clear{ clear: both}
p{ line-height: 30px; font-size: 18px;}
.bold{ font-weight: bold;}
.block{ display: block}
.in-blk{ display: inline-block}
.disb{ display: block}
.no-show{ display: none}
.w50{ width: 50%;}
.w33p{ width: 31%; display: inline-block}
.w100p{ width: 100%;}

.width700{ width: 700px; margin: 0 auto}
.width800{ width: 800px; margin: 0 auto}
.width900{ width: 900px; margin: 0 auto}

.mgb-10{ margin-bottom: 10px}
.mgb-20{ margin-bottom: 20px}
.mgb-30{ margin-bottom: 30px}
.mgb-50{ margin-bottom: 50px}
.mgt-10{ margin-top: 10px}
.mgt-20{ margin-top: 20px}
.mgt-30{ margin-top: 30px}
.mgt-40{ margin-top: 40px}
.mgt-50{ margin-top: 50px}
.mgt-50{ margin-top: 50px}
.pgb-30{ padding-bottom: 30px;}
.pgt-20{ padding-top: 20px;}
.pgt-30{ padding-top: 30px;}
.pgt-40{ padding-top: 40px;}
.pgt-50{ padding-top: 50px;}


.color-w{ color: #fff}
.color-bk{ color: #000}
.color-blue{ color: #3260c6}

:root {
  --animate-delay: 0.5s;
}
.text-center{text-align: center}
.text-left{ text-align: left}
.txet-jus{ text-align: justify}
.container{ width: 1200px; margin: 0 auto; position: relative}

body{ font-size: 18px; line-height: 32px;}
/*hamburg*/
#hamburg{ position: absolute; right: 10px; top: 9px; display: block; z-index: 1; }
#hamburg .line{ width: 50px; height: 50px; background: #fff; transition: all 0.5s; }
#hamburg .line span{ position: relative; width: 75%; height: 2px; background: #FF0000; margin: 0 auto; display: block; top: 33.333333%; }
#hamburg .line span:nth-child(2){ top: 66.666666%; }
#hamburg.active .line{ -moz-transform:rotate(90deg); -webkit-transform:rotate(90deg); -o-transform:rotate(90deg); -ms-transform:rotate(90deg); transform:rotate(90deg); } 

.head{ width: 100%; min-height: 100px; opacity: 1; transition: all 0.2s; display: block;z-index: 99; background: #fff; }
.head.fadein{ position: fixed;top: 0;z-index: 9}
.head .container{ width: 1200px; }
.logo{ display: inline-block; width: 200px; margin-top: 25px;}
nav{ text-align: center; float: right; margin-right: 100px; margin-top: 10px;}
nav span{ display: block; font-size: 14px; color:#231815;  margin-top: 5px; }
nav a{display: inline-block; font-size: 20px;font-weight: 700; border: 0; text-align: center; padding: 0 10px; color: #333 ; transition: all 0.5s;position: relative; padding: 20px 20px; text-decoration: none; line-height: 25px;}
nav a.active{color: #0274ba; text-decoration: none;}

nav a:hover{ transition: all 0.5s; text-decoration: none; color: #0274ba}

a:focus{ outline: 0}

/*****************Pages************************/








.backtop{ position: fixed; bottom: 15%; right: -30px;  opacity: 0;z-index: 999;transition: all 0.5s; }
.backtop.fadein{ opacity: 1;right: 10px; transition: all 0.5s; display: block}

.btm-btn{ width: 1040px;margin: 0 auto}
.mb-btm{ position: fixed;bottom: 0}

/*****************RWD************************/
.mb{ display: none;}
.box{ display: none;}

@media only screen and (max-width: 1400px) {
  
}
@media only screen and (max-width: 1200px) {
   
    .container{ width: 100%;}
    .head .container{ width: 100%;}
     nav a:hover:after{display: none}
    nav{ display: none; width: 100%; left: 0; z-index: 99999; position: fixed;background: #fff;}
    nav a{ width: 100%; color: #0076c8; padding: 15px 0; border-bottom: 1px solid #ddd; border-right: 0}
    nav a:hover span{ border: 0; padding: 0}
    nav a.active:after{ display: none;}
    nav a.active{}
    
  
}

@media only screen and (max-width: 1000px) {
    body{ font-size: 16px;}
    .mb{ display: block;}
    .mb section{ width: 100%; float: left;}
    .mb img{ display: inline-block;}
    .pc{ display: none !important}
    .wrap{ width: 100% !important}
    .box{ display: block}
    .head {  padding-top: 0;}
    .head.fadein{ padding-bottom: 0;}
    .mbkv{ background: #f5f3f8}
    
    
}
/*tablet*/
@media only screen and (max-width: 768px) {

   
    
}
   
@media only screen and (max-width: 480px) {
   
  
}




.box {
  position: absolute;
  top: 25px;
  right:10px;
/*  transform: translate(-50%, -50%);*/
  width:60px;
  height: 50px;
  background: #0076c8;
    z-index: 99999;
/*  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);*/
}

.btnnav {
  position: absolute;
  top: 25px;
  right: -13px;
  transform: translate(-50%, -50%);
  width: 43px;
  cursor: pointer;
}
.btnnav.active{ top: 33px; right: -12px;}
.box .active span+span{ margin-top: 11px;}
.btnnav span {
  display: block;
  width: 100%;
/*  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);*/
/*  border-radius: 3px;*/
  height: 5px;
  background: #fff;
  transition: all .3s;
  position: relative;
}

.box span + span {
  margin-top: 7px;
}

.box .active span:nth-child(1) {
  animation: ease .7s top forwards;
}

.box .not-active span:nth-child(1) {
  animation: ease .7s top-2 forwards;
}

.box .active span:nth-child(2) {
  animation: ease .7s scaled forwards;
}

.box .not-active span:nth-child(2) {
  animation: ease .7s scaled-2 forwards;
}

.box .active span:nth-child(3) {
  animation: ease .7s bottom forwards;
}

.box .not-active span:nth-child(3) {
  animation: ease .7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 22px;
    transform: rotate(0);
  }
  100% {
    top: 10px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 22px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes barjump {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    top: -10px;
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    top: 150px;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    top: 250px;
  }
}


/* GENERAL BUTTON STYLING */
.btn-5,
.btn-5::after {
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-5 {
  display: block;
  position: relative;
  text-transform: uppercase;
}

.btn-5::before,
.btn-5::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.btn-5:hover {
  color: #333;
}
/* BUTTON 5 */
.btn-5 {
  overflow: hidden;
}

.btn-5::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -55%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn-5:hover:after {
  height: 100%;
  width: 155%;
}
